body {
    background-color: ghostwhite;
    background-size: contain;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

p {
    color: orange;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

.alt {
    color: white;
}

.flex-container {
    display: flex;
    justify-content: space-around;
    width: 25em;
    margin: auto;
    flex-wrap: wrap;
    backface-visibility: hidden;
    background-color: aqua;
}

.card {

}

.front {
    position: relative;
    float: left;
    background-color: antiquewhite;
    border-radius: 0.5em;
    height: 7em;
    width: 7em;
    text-align: center;
    margin: 0.5em;
    z-index: 2;
}

.back {
    position: absolute;
    background-color: orange;
    border-radius: 0.5em;
    height: 7em;
    width: 7em;
    text-align: center;
    margin: 0.5em;
    z-index: 1;
}

.front:hover {
    z-index: 0;
    transform-style: preserve-3d;
    transform: rotateY(180deg);;
}